    /* Utilice posicionamineto de tipo Grid que me facilito en este apartado */
    /*footer-bg: background-color de mi footer, usando las variables creadas anteriormente*/
    /*footer-contacto li:nth-child(2)::after, .footer-contacto li:nth-child(4)::after : mucho dolor de cabeza,
    no funciona del todo, intente optimizar el codigo y no escribir lo mismo varas veces para aplicar la raya sobre
    los elementos de contacto,decidí solo aplicar al segundo y cuarto hijo*/
    /*footer-copy y footer-redes : los contenedores de las imagenes y el copy */
    /*en las medias pasando de dos columnas (1fr) (1fr)  a una (1fr)*/




.footer-bg {
    background-color: var(--color-12);
  }
  
  .footer {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer h3 {
    margin-bottom: 32px;
  }
  
  .footer-contacto ul {
    margin-bottom: 32px;
  }
  
  .footer li {
    margin-bottom: 16px;
  }
  
  .footer-contacto li:nth-child(2)::after,
  .footer-contacto li:nth-child(4)::after {
    content: "";
    display: block;
    max-width: 360px;
    background: var(--color-11);
    height: 2px;
    margin-top: 16px;
  }
  
  .footer-redes {
    display: flex;
    gap: 32px;
  }
  
  .footer a:hover {
    color: var(--color-0);
  }
  
  .footer-copy {
    grid-column: 1 / -1;
    margin-top: 40px;
  }
  
  @media (max-width: 800px) {
    .footer > img {
      display: none;
    }
    .footer {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 600px) {
    .footer {
      grid-template-columns: 1fr;
      gap: 60px;
    }
    .footer-copy {
      margin-top: 0px;
    }
    
  }

  